{% extends 'base.html' %}

{% block content %}

      <p class="centerIt">Correction des exercices des livres:</p>
      <p class="livres">
      <a href="https://biblio.editions-bordas.fr/demo/9782047388990/?openBook=9782047388990%3fdXNlck5hbWU9WjRaa0R3bVQ0ZHpKOVdZOTYzMksxL2tOVDVuYVRPeVpmWHY3YjRkMkRKMD0mdXNlclBhc3N3b3JkPXptZ1dyZ21YTGxLL25ibk40WG9jSmtpWXYxWlhRSVlmakRnbHhrNzR0WUk9JmRlbW89dHJ1ZSZ3YXRlcm1hcms9dHJ1ZQ==">Allemand</a><br><br>
        <a href="https://www.belin-education.com/system/files/materials/03580917_hist_tle_ldp.pdf">Histoire</a><br><br>
        <a href="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/Physique_Chimie_Tle_LDPpdf.pdf?v=1661076683061">Physique</a><br><br>
        <a href="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/Enseignement_Scientifique_Tle_LDPpdf.pdf?v=1661076849163">Enseignement scientifique</a><br><br>
        <a href="https://enseignants.nathan.fr/wsse-jdp-ressource/9782091316925?destination=mon-espace/mes-ressources">HGGSP</a><br><br>
        <a href="https://www.belin-education.com/system/files/materials/03580918_ses_tle_ldp.pdf">SES</a><br><br>
        <a href="https://www.belin-education.com/system/files/materials/03580900_ldp_svt.pdf">SVT</a>
      </p>
      <hr class="featurette-divider" />
{% endblock %}