{% extends 'base.html' %}

{% block content %}
      <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
          <img
            src="https://cdn.glitch.com/920e81c9-7459-487c-b72c-a6478868d0e9%2Fbooks.png?v=1626940966893"
            weight="200"
            height="200"
          />
          <div class="col-md-7">
            <h2>Livres</h2>
            <p>
              Vous pouvez retrouver dans la page livres tous les livres de cette
              année (ou du moins ceux qui sont en ligne
            </p>
            <p>
              <a class="btn btn-primary" href="livres.html"
                >Voir des détails &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-5"></div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2>Cours</h2>
            <p>
              Récupérer différents cours des années précédents!
            </p>
            <p>
              <a class="btn btn-primary" href="cours.html"
                >Voir des details &raquo;</a
              >
            </p>
          </div>
          <!-- /.col-lg-4 -->

          <div class="col-md-5 order-md-1">
            <p>
              <img
                src="https://icons.iconarchive.com/icons/google/noto-emoji-people-clothing-objects/128/12192-school-backpack-icon.png"
                height="150"
                weight="150"
              />
            </p>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <img
            src="https://cdn.glitch.com/920e81c9-7459-487c-b72c-a6478868d0e9%2Fsondage.png?v=1626940966924"
            weight="200"
            height="200"
          />
          <div class="col-md-7">
            <h2>Sondages</h2>
            <p>Vous pouvez voir les différents sondages en cours.</p>
            <p>
              <a class="btn btn-primary" href="sondages.html"
                >Voir des details &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-5"></div>
        </div>

        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7">
            <h2>Administrateur Site</h2>
            <p>
              Se connecter à la page d'administrateur de site pour modifier son
              code (entre autres)
            </p>
            <p>
              <a class="btn btn-primary" href="admin.html"
                >Voir des details &raquo;</a
              >
            </p>
          </div>
          <!-- /.col-lg-4 -->

          <div class="col-md-5 order-md-1">
            <p>
              <img
                src="https://cdn.glitch.com/920e81c9-7459-487c-b72c-a6478868d0e9%2Fimg.png?v=1631447098809"
                height="150"
                weight="150"
              />
            </p>
          </div>
        </div>

        <hr class="featurette-divider" />
        <!-- /END THE FEATURETTES -->
      </div>
      <!-- /.container -->

{% endblock %}