{% extends 'base.html' %}

{% block content %}

      <p class="centerIt">
        Liste des livres. Si un livre ne s'ouvre pass bien, vous pouvez me
        contacter <b>(+33658049693 / gabrielmerville@gmail.com)</b>.
      </p>
      <div class="livres">
        <details>
          <a href="https://manuelnumeriquemax.belin.education/histoire-terminale/">> Histoire</a><br /><br />
          <a href="https://manuelnumeriquemax.belin.education/geographie-terminale">> Géographie</a><br /><br />
          <a href="https://www.libmanuels.fr/demo/9782210114531/specimen/304/?title=Philosophie%20Tle%20g%C3%A9n%C3%A9rale%20-%20Ed.%20Sorosina%20(Ed.%20num.%202022)&editor=Magnard">> Philosophie </a><br /><br />
          <a href="https://mesmanuels.fr/acces-libre/5588107">> Enseignement scientifique</a> <br /><br />
          <summary><b>Tronc commun:</b> <br /><br /></summary>
        </details>

        <details>
          <a href="https://fr.calameo.com/read/0049569797f7bd6a2a9ff">> Allemand</a><br /><br />
          <a href="https://www.editions-hatier.fr/flip/flex/97822780955751?token=4d52952b0dbcbd3c7225202f530893b8">> Espagnol</a><br /><br />
          <summary><b>Langues:</b> <br /><br /></summary>
        </details>

        <details>
          <a href="https://biblio.nathan.fr/specimen/9782091725338/?openBook=9782091725338%3fdXNlck5hbWU9bWtjK2J0SHR5akx6UWNGVjdGOFU2UWtqNytHRHZNTWp6N3ovUW9WenBqMD0mdXNlclBhc3N3b3JkPXpWYVMrNXl5Z2h4dTIzQjRDQXpLMzMvVjNnRFIwaGVvSko4bVZ6UlhuWEk9JmRlbW89dHJ1ZSZ3YXRlcm1hcms9ZmFsc2U=">> H.G.P.S.P</a><br /><br />
          <a href="https://mesmanuels.fr/acces-libre/9782016289914">> H.L.P. </a><br /><br />
          <a href="https://www.libmanuels.fr/demo/9791035813659/0?version=2&title=SES%20Tle%20-%20%C3%A9d.%202020&editor=Belin">> S.E.S. </a><br /><br />
          <a href="https://www.libmanuels.fr/demo/9791035813772/0?version=2&title=SVT%20tle%20-%20%C3%A9d.%202020&editor=Belin">> S.V.T.</a><br /><br />
          <a href="https://mesmanuels.fr/acces-libre/5588722">> S.P.H.</a> <br /><br />
          <a href="https://www.lelivrescolaire.fr/page/16683286">> Mathématiques</a><br /><br />
          <summary><b>Spécialités:</b> <br /><br /></summary>
        </details>

        <details>
          <a href="https://www.lelivrescolaire.fr/page/15117110">> Maths expertes</a><br /><br />
          <a href="https://fr.calameo.com/read/004956979ebd6a01f0c91">> Maths complémentaires</a>

          <summary><b>Options:</b> <br /><br /></summary>
        </details>
      </div>
      <hr class="featurette-divider" />
{% endblock %}