{% extends 'base.html' %}

{% block content %}
      <p class="centerIt">Page admin terminale:</p>
      <p class="links">
        [*]<a href="https://glitch.com/edit/#!/terminale" class="links">
          Lien de modification du site</a
        >
        <br /><br />
        [*]
        <a href="https://terminale.glitch.me/corrections.html" class="links">
          Corrections des livres</a
        >
        <br /><br />
        [*]
        <a href="https://terminale.glitch.me/egg.txt" class="links"> Easter eggs</a>
        <br /><br />
        [*]
        <a href="https://termninale.glitch.me/identifiants.html" class="links">
          Identifiants de connexion sur les autres sites</a
        >
        <br /><br />
        [*]
        <a href="https://terminale.glitch.me/users.txt" class="links">
          Identifiants de connexion admin</a
        >
        <br /><br />
      </p>
      <hr class="featurette-divider" />
{% endblock %}