{% extends 'base.html' %}

{% block content %}
      <h1 class="centerIt">
        SPH - Mr Ovido - 1ère Mécanique:
        <br /><br />
      </h1>

      <div class="centerIt">
        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/1.jpeg?v=1662149036312"
        /><br />
        <hr class="featurette-divider" />
        <br />
        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/2.jpeg?v=1662149087471"
        /><br />
        <hr class="featurette-divider" />
        <br />
        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/3.jpeg?v=1662149088184"
        /><br />
        <hr class="featurette-divider" />
        <br />

        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/4.jpeg?v=1662149087633"
        /><br />
        <hr class="featurette-divider" />
        <br />

        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/5.jpeg?v=1662149089747"
        /><br />
        <hr class="featurette-divider" />
        <br />

        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/6.jpeg?v=1662149091577"
        /><br />
        <hr class="featurette-divider" />
        <br />

        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/7.jpeg?v=1662149088012"
        /><br />
        <hr class="featurette-divider" />
        <br />

        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/8.jpeg?v=1662149089467"
        /><br />
        <hr class="featurette-divider" />
        <br />

        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/9.jpeg?v=1662149089949"
        /><br />
        <hr class="featurette-divider" />
        <br />

        <img
          class="school"
          src="https://cdn.glitch.global/cec86228-b0f1-486b-9868-ad1020b4f8c8/10.jpeg?v=1662149096375"
        /><br /><br />
      </div>
      <hr class="featurette-divider" />
{% endblock %}